.taskwrapper {
  width: 300px;
  margin: 15px 30px;
  border: solid black 1px;
  border-radius: 10px;
  float: left;
}
.taskRow {
  padding: 5px;
  padding: 1px 10px;
}
.taskButton {
  width: 150px;
  vertical-align: middle;
  margin-left: 75px;
  margin-top: 2px;
  margin-bottom: 5px;
}
